<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src = "app.js"></script>


    <title>
    Nightlife
    </title>





    <link rel = "stylesheet" href = "style.css">
    <script src="mason.js"> </script>

    </head>

    <body ng-app = "app" ng-controller="appController">

        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">


              <form class="navbar-form">
              <input type="text" ng-model="search">


        <button class="btn btn-primary" ng-click="makeRequest()">SEARCH</button>
        <p class="navbar-form navbar-right">
          <a href= "/logout">LOGOUT</a>
        </p>
        <p class="navbar-form navbar-right">
          <a href= "/login/facebook/callback">LOGIN</a>
        </p>



          <button type="button" class="btn btn-info navbar-form navbar-right" data-toggle="modal" data-target="#myModal" ng-click= "getPreference()">GOING</button>





              </form>

          </div>


        </nav>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{going.data[0].name}}</h4>
              </div>
              <div class="modal-body">

                <div class="media" ng-repeat = "panel in going.data">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object" src="{{panel.image}}" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{panel.location}}</h4>
                    <p>
                      {{panel.text}}
                    </p>
                    <button class = "btn btn-primary">DELETE</button>

                  </div>
                </div>


                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>


          </div>
        </div>









                    </div>











    </body>

</html>
